In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame({'domain': 'medjol.pl', 'top3': 430, 'top10': 1322, 'top50': 4226, 'visibility': 8433.29, 'visibility_no_brand': 0}, index=[0])

In [13]:
df.set_index(['domain'], inplace=True)

           top3  top10  top50  visibility  visibility_no_brand
domain
medjol.pl   430   1322   4226     8433.29                    0