In [8]:
# """
# Input: domena.pl

# Output:

# 1. Liczba słów kluczowych w TOP3 TOP10 TOP50
# 2. Najważniejsi konkurenci, na podstawie wspólnych słów kluczowych to:
# 3. Słowa kluczowe, które dają najwięcej ruchu:
# 4. W stosunku do poprzedniego roku: (jak się zmieniła liczba słów w TOP3, TOP10, TOP50):
# 5. Słowa kluczowe, na których warto się skupić to: (słowa z pozycji 11-15):
# 6. Słowa kluczowe, które weszły do TOP10 w ostatnim miesiącu to:
# 7. Słowa kluczowe, które wypadły z TOP10 to:
# """
# import api_senuto
# import datetime
# import requests
import pandas as pd
import json


# domain = "medjol.pl"


# def get_date():
#     """
#     :return: funkcja zwraca tuplę z 4 elementami typu string:
#     1- aktualna data
#     2- data z pierwszym dniem aktualnego miesiąca
#     3- data z pierwszym dniam poprzedniego miesiąca
#     4- data z pierwszym dniam, obeznym miesiącem i poprzednim rokiem
#     """
#     today = datetime.date.today()
#     this_month_date = datetime.date(today.year, today.month, 1)
#     if today.month == 1:
#         last_month_date = datetime.date(today.year - 1, 12, 1)
#     else:
#         last_month_date = datetime.date(today.year, today.month - 1, 1)
#     last_year_date = datetime.date(today.year - 1, today.month, 1)

#     today = f"{today}"
#     this_month_date = f"{this_month_date}"
#     last_month_date = f"{last_month_date}"
#     last_year_date = f"{last_year_date}"

#     return today, this_month_date, last_month_date, last_year_date


# print(get_date()[1])


# # Liczba słów kluczowych w TOP3 TOP10 TOP50
# api_senuto.get_domain_statistics(domain)

# # Wyciągnięcie 3 najważniejszych konkurendów z Senuto
# api_senuto.get_top_competitors(domain, 4)

# # api_senuto.get_incresed_pocitions_keywords_export(domain, "data")
# # api_senuto.get_decresed_pocitions_keywords_export(domain, "data")
# # api_senuto.get_important_keywords_export(domain, "data")

# # tak się tworzy listę fraz które wypadły z TOP 10 od 1 dnia ostatniego miesiąca do dzisiaj
# # żeby stworzyć listę fraz, które wpadły do top 10 wystarczy zamienić daty miejscami.
# # api_senuto.get_range_compare_export(domain, "data", get_date()[2], get_date()[0])
# print(get_date()[3], get_date()[0])
data = {'top3_history': {'1554069600': 8, '1554674400': 10, '1555279200': 23, '1555884000': 26, '1556488800': 20, '1557093600': 24, '1557698400': 22, '1558303200': 18, '1558908000': 24, '1559512800': 27, '1560117600': 29, '1560722400': 39, '1561327200': 48, '1561932000': 71, '1562536800': 74, '1563141600': 87, '1563746400': 98, '1564351200': 99, '1564956000': 102, '1566165600': 103, '1566770400': 102, '1567375200': 107, '1568584800': 126, '1569189600': 137, '1569794400': 202, '1571608800': 303, '1572822000': 345, '1573426800': 357, '1574031600': 300, '1575241200': 193, '1575846000': 212, '1576450800': 227, '1577055600': 259, '1578265200': 264, '1578870000': 300, '1580684400': 287, '1581289200': 293, '1581894000': 296, '1582498800': 318, '1583103600': 339, '1583708400': 369, '1584313200': 372, '1584918000': 397, '1585519200': 442, '1586124000': 440}, 'top10_history': {'1554069600': 48, '1554674400': 84, '1555279200': 112, '1555884000': 131, '1556488800': 134, '1557093600': 164, '1557698400': 157, '1558303200': 153, '1558908000': 149, '1559512800': 179, '1560117600': 193, '1560722400': 203, '1561327200': 251, '1561932000': 318, '1562536800': 348, '1563141600': 383, '1563746400': 428, '1564351200': 434, '1564956000': 450, '1566165600': 448, '1566770400': 450, '1567375200': 458, '1568584800': 534, '1569189600': 557, '1569794400': 763, '1571608800': 1062, '1572822000': 1144, '1573426800': 1169, '1574031600': 1105, '1575241200': 902, '1575846000': 924, '1576450800': 927, '1577055600': 987, '1578265200': 1033, '1578870000': 1067, '1580684400': 1074, '1581289200': 1064, '1581894000': 1078, '1582498800': 1145, '1583103600': 1160, '1583708400': 1228, '1584313200': 1231, '1584918000': 1259, '1585519200': 1341, '1586124000': 1338}, 'top50_history': {'1554069600': 289, '1554674400': 450, '1555279200': 678, '1555884000': 768, '1556488800': 753, '1557093600': 816, '1557698400': 853, '1558303200': 804, '1558908000': 825, '1559512800': 877, '1560117600': 875, '1560722400': 970, '1561327200': 1102, '1561932000': 1465, '1562536800': 1602, '1563141600': 1839, '1563746400': 1972, '1564351200': 1908, '1564956000': 1960, '1566165600': 2005, '1566770400': 1987, '1567375200': 1997, '1568584800': 2097, '1569189600': 2135, '1569794400': 2865, '1571608800': 3771, '1572822000': 4045, '1573426800': 4090, '1574031600': 3880, '1575241200': 3167, '1575846000': 3187, '1576450800': 3220, '1577055600': 3509, '1578265200': 3823, '1578870000': 3928, '1580684400': 3748, '1581289200': 3703, '1581894000': 3780, '1582498800': 3935, '1583103600': 3955, '1583708400': 4086, '1584313200': 4106, '1584918000': 4166, '1585519200': 4286, '1586124000': 4255}}

df = pd.read_json(json.dumps(data))
df

                     top3_history  top10_history  top50_history
2019-03-31 22:00:00             8             48            289
2019-04-07 22:00:00            10             84            450
2019-04-14 22:00:00            23            112            678
2019-04-21 22:00:00            26            131            768
2019-04-28 22:00:00            20            134            753
2019-05-05 22:00:00            24            164            816
2019-05-12 22:00:00            22            157            853
2019-05-19 22:00:00            18            153            804
2019-05-26 22:00:00            24            149            825
2019-06-02 22:00:00            27            179            877
2019-06-09 22:00:00            29            193            875
2019-06-16 22:00:00            39            203            970
2019-06-23 22:00:00            48            251           1102
2019-06-30 22:00:00            71            318           1465
2019-07-07 22:00:00            74            348           1602
2019-07-14 22:00:00            87            383           1839
2019-07-21 22:00:00            98            428           1972
2019-07-28 22:00:00            99            434           1908
2019-08-04 22:00:00           102            450           1960
2019-08-18 22:00:00           103            448           2005
2019-08-25 22:00:00           102            450           1987
2019-09-01 22:00:00           107            458           1997
2019-09-15 22:00:00           126            534           2097
2019-09-22 22:00:00           137            557           2135
2019-09-29 22:00:00           202            763           2865
2019-10-20 22:00:00           303           1062           3771
2019-11-03 23:00:00           345           1144           4045
2019-11-10 23:00:00           357           1169           4090
2019-11-17 23:00:00           300           1105           3880
2019-12-01 23:00:00           193            902           3167
2019-12-08 23:00:00           212            924           3187
2019-12-15 23:00:00           227            927           3220
2019-12-22 23:00:00           259            987           3509
2020-01-05 23:00:00           264           1033           3823
2020-01-12 23:00:00           300           1067           3928
2020-02-02 23:00:00           287           1074           3748
2020-02-09 23:00:00           293           1064           3703
2020-02-16 23:00:00           296           1078           3780
2020-02-23 23:00:00           318           1145           3935
2020-03-01 23:00:00           339           1160           3955
2020-03-08 23:00:00           369           1228           4086
2020-03-15 23:00:00           372           1231           4106
2020-03-22 23:00:00           397           1259           4166
2020-03-29 22:00:00           442           1341           4286
2020-04-05 22:00:00           440           1338           4255